{{!-- Code referenced from Module 14 - Mini Project --}}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h3>Your Posts</h3>
                </div>
                <div class="col-4">
                    <a href="/dashboard/newPost"><button class="btn btn-danger mr-5">Add New Post</button></a>
                </div>
            </div>
            {{!-- Render the posts if available, others inform the user that they have no posts --}}
            {{#if posts.length}}
                {{#each posts as |post|}}
                <h5 class="mb-4">
                    <a href="/dashboard/updatePost/{{post.id}}" class="text-danger">{{post.postTitle}}</a>
                </h5>
                {{/each}}
            {{else}}
                <p>You have no posts.</p>
            {{/if}}
        </div>
        <div class="col">
            <div>
                <h3>Your Comments</h3>
            </div>
            {{!-- Render the comments if available, others inform the user that they have no comments --}}
            {{#if comments.length}}
                {{#each comments as |comment|}}
                <h5 class="mb-4">
                    <div class="row">
                        <div class="col">
                            <p class="mr-4">"{{comment.commentText}}" on <a href="/post/{{postId}}" class="text-danger"><em>this post</em></a>. </p>
                        </div>
                        <div class="col-3">
                            <a href="/dashboard/updateComment/{{comment.id}}">
                                <button class="btn btn-danger">Update</button> 
                            </a>
                        </div>
                    </div>
                </h5>
                {{/each}}
            {{else}}
                <p>You have no comments.</p>
            {{/if}}
        </div>
    </div>
</div>


